<div class="col-md-5 col-xs-offset-3" ng-controller="LoginCtrl" id="login">    
   <form ng-submit="submit()">
      <div class="form-group row">
        <label for="username" class="col-sm-2 col-form-label">Username</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="username" placeholder="Username" ng-model="login_form.username" required>
          <div>
            <p class="bg-danger" id="username_error" ng-bind="username_error"></p>
          </div>
        </div>
      </div>
      <div class="form-group row">
        <label for="inputPassword3" class="col-sm-2 col-form-label">Password</label>
        <div class="col-sm-10">
          <input type="password" class="form-control" id="inputPassword3" placeholder="Password" ng-model="login_form.password" required>
          <div>
            <p class="bg-danger" id="password_error" ng-bind="password_error"></p>
          </div>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-md-5 col-xs-offset-5">
          <button type="submit" class="btn btn-primary">Sign in</button>
        </div>
      </div>
    </form>
</div>
